body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 25px;
  color: black;
}

button {
  font-size: 25px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

#buttons {
  display: flex;
  flex-direction: column;
}
